a {
    color: #f18800;
}

body {
    background-color: #080808;
}

footer {
    background-color: white;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 10px;
}

h1 {
    font-weight: normal;
    color: white;
    font-size: 3em;
    margin: 0;
}

h2 {
    color: white;
    font-weight: lighter;
    margin: 0;
}

h3 {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
}

#arrow_port_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#container_main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#employment {
    background-color: #080808;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#footer_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 10px
}

#greeting_container {
    background: transparent;
    padding-bottom: 20px;
    padding-top: 20px;
}

#icons_container {
    display: flex;
    flex-direction: row;
}

#introduction_container, #projects_container, #employment_container, #toolkit_container {
    max-width: 900px;
    padding: 20px;
}

#introduction {
    background-color: #080808;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portrait {
    background-image: url( ../img/portrait_land.jpg );
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#projects {
    background-image: url( ../img/projects.png );
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#projects_container, #introduction_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#projects_header, #employment_header, #toolkit_header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

#titles {
    text-align: center;
    letter-spacing: 0.2em;
}

#toolkit {
    background-image: url( ../img/skillset.png );
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow_port {
    display: none;
}

.divider, .title {
    font-size: 28px;
}

.divider {
    color: white;
}

.footer_icon {
    padding-left: 7px;
    padding-right: 7px;
}

.greeting {

}

.icon {
    margin-right: 15px;
}

.introduction_text{
    color: white;
    letter-spacing: 0.1em;
    font-size: 16px;
}

.title {
    color: #f18800;
}