<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Brian Breeden</title>
  <meta name="description" content="Brian Breeden Portfolio">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="Brian Breeden - Quality & Software Engineer" />
  <meta property="og:type" content="portfolio" />
  <meta property="og:image" content="{{ url_for('static', filename='img/social-share.jpg') }}" />
  <meta property="og:url" content="https://www.bcbreeden.dev" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favi.png') }}" type="image/x-icon">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
</head>

<body>

  <div id="portrait">
    <div id="port_outer">
      <div id="port_greeting_container">
        <img id="avatar_mobile" alt="A portrait of Brian in the shape of a circle." src="{{ url_for('static', filename='img/ava_round.png') }}">
        <h1 class="greeting">Hi, I'm Brian.</h1>
        <div id="menu">
          <a href="#projects"><span class="menu_item">Projects</span></a><span class="divider"> | </span>
          <a href="#employment"><span class="menu_item">Employment</span></a><span class="divider"> | </span>
          <a href="#form"><span class="menu_item">Contact</span></a>
        </div>

        <p class="introduction_text">
          I am a Quality Engineer who also likes to code! My favorite topics include Python, CSS, and JavaScript.
        </p>
        <p class="introduction_text">
          In my spare time, I enjoy <a href="https://unsplash.com/@bcbreeden" rel="noreferrer" target="_blank">taking pictures</a> and kayaking!
        </p>
        <p class="introduction_text">
          Thank you for visiting and I hope to hear from you soon!
        </p>
        <!-- Social Media Bar -->
        <div id="social_container">
          <a href="https://twitter.com/BCBreeden" rel="noreferrer" target="_blank"><img class="social_icon" alt="A picture of the Twitter logo." src="{{ url_for('static', filename='img/twitter.png') }}"></a>
          <a href="https://www.linkedin.com/in/brian-breeden/" rel="noreferrer" target="_blank"><img class="social_icon" alt="A picture of the LinkedIn logo." src="{{ url_for('static', filename='img/linkedin.png') }}"></a>
          <a href="https://github.com/BBreeden" rel="noreferrer" target="_blank"><img class="social_icon" alt="A picture of the Github logo." src="{{ url_for('static', filename='img/github.png') }}"></a>
          <a href="mailto:breedenb@gmail.com"><img class="social_icon" alt="A logo of an envelope to illustrate an email." id="email_icon" src="{{ url_for('static', filename='img/email.png') }}"></a>
        </div>
      </div>
    </div>
    
  </div>

  <div id="container_main">
    <!-- PROJECTS -->
    <div id="projects">
        <div id="projects_container">
          <div id="projects_header">
            <h2 class="title">Select Projects</h2>
          </div>

          <div class="project_item">
            <div class="project_desc">
              <img class="project_header" alt="A banner displaying a rocket and a circle." src="{{ url_for('static', filename='img/nl_header.png') }}">
              <h3><a href="http://www.nextlaunch.info" rel="noreferrer" target="_blank">NextLaunch.info</a></h3>
              <p class="project_tech_p">
                <span class="python">[Python]</span>
                <span class="html">[HTML]</span>
                <span class="css">[CSS]</span>
                <span class="javascript">[JavaScript]</span>
              </p>
              <p class="body_text">
                On December 28, 2015, I was sitting at a cafe eating breakfast when I learned that SpaceX had recovered a first stage rocket the night before. I didn't understand the significance at the time, but it changed space exploration forever. Years later, I am still a big fan of space. I like to stay up to date with upcoming rocket launches and that is what this app helps me do.<br />
                <a href="https://github.com/BBreeden/next_launch" rel="noreferrer" target="_blank">Check out the source code here.</a>
              </p>
            </div>
          </div>
          
          <div class="project_item">
            <div class="project_desc">
              <img class="project_header" alt="An image displaying a rocket and a circle. Inside of the circle is a robot." src="{{ url_for('static', filename='img/nl_bot_header.png') }}">
              <h3><a href="https://twitter.com/NextLaunchInfo" rel="noreferrer" target="_blank">NextLaunch Twitter Bot</a></h3>
              <p class="project_tech_p">
                <span class="python">[Python]</span>
              </p>
              <p class="body_text">
                This project is a companion to the NextLaunch.info web app project. This program will automatically create a Twitter post if there is a rocket launch less than an hour away! <br />
                <a href="https://github.com/BBreeden/next_launch_bot" rel="noreferrer" target="_blank">Check out how it works behind the scenes!</a>
              </p>
            </div>
          </div>

          <div class="project_item">
            <div class="project_desc">
              <img class="project_header" alt="An image of the Twitter logo with alternating arrows point to a user logo." src="{{ url_for('static', filename='img/tw_polling_header.png') }}">
              <h3><a href="https://github.com/BBreeden/twitter_user_polling" rel="noreferrer" target="_blank">Twitter User Polling</a></h3>
              <p class="project_tech_p">
                <span class="python">[Python]</span>
              </p>
              <p class="body_text">
                Love it or hate it, Twitter is a unique platform. I wanted to study and document tweets from specific users. I wrote this program to poll a user profile every so often and document any new tweets that user composed. These tweets are then saved as JSON objects using MongoDB for future analysis. <br />
                <a href="https://github.com/BBreeden/twitter_user_polling" rel="noreferrer" target="_blank">View the code.</a> <br />
                <img class="project_header" alt="An image of a JSON snippet demonstrating the data structure of a saved tweet." src="{{ url_for('static', filename='img/user_poll_sample.png') }}">
              </p>
            </div>
          </div>

          
          <a href="#portrait">Return to the top.</a>
        </div>
    </div>

    <!-- EMPLOYMENT -->
    <div id="employment">
      <div id="employment_container">
        <div id="employment_header">
          <h3 class="title title_white">What I Do</h3>
        </div>

        <div class="emp_item">
        <h3>Quality Engineer - <a href="http://www.Alarm.com" rel="noreferrer" target="_blank">Alarm.com</a> <a href="https://www.alarm.com/business-solutions/" rel="noreferrer" target="_blank">Commercial</a> (2020-Present)</h3>
        <p class="introduction_text">
          Since I have been promoted to Quality Engineer, I have continued to refine my test plan design and expand my scope to include mobile testing and cross team collaborations. Additionally, I have begun participating in new hire onboarding and mentoring. I have led the following projects and initiatives:
          <ul>
            <li><button class="btn_modal" id="test_lab">Test Lab Maintenance</button></li>
            <li><button class="btn_modal" id="qe_sql">QE SQL Documentation</button></li>
            <li><button class="btn_modal" id="water_valve_meter">Water Valve and Meter</button></li>
            <li><button class="btn_modal" id="jasco_contact">Jasco Contact Sensor</button></li>
          </ul>
        </p>
        </div>
        <hr>

        <div class="emp_item">
          <h3>Associate Quality Engineer - <a href="http://www.Alarm.com" rel="noreferrer" target="_blank">Alarm.com</a> <a href="https://www.alarm.com/business-solutions/" rel="noreferrer" target="_blank">Commercial</a> (2019-2020)</h3>
          <p class="introduction_text">
            As an Associate Quality Engineer, my primary duties involved extensive testing during the weekly build cycle and the certification of new products & features. A few of the certification projects that I led were:
            <ul>
              <li><button class="btn_modal" id="com_reports">Commercial Reports</button></li>
              <li><button class="btn_modal" id="login_tmps">Login Templates</button></li>
              <li><button class="btn_modal" id="nuke">Point Hub</button></li>
              <li><button class="btn_modal" id="vhr">Video Health Report</button></li>
              <li><button class="btn_modal" id="sbtm">Smarter Business Temperature Monitoring</button></li>
              <li><button class="btn_modal" id="yale500">Yale 500 Series Lock Integration</button></li>
            </ul>
          </p>
        </div>
        <div class="emp_item" id="last_emp">
          <hr>
          <h3>Campus Operations Specialist - <a href="http://www.lfcc.edu" rel="noreferrer" target="_blank">Lord Fairfax Community College</a> (2017-2019)</h3>
          <p class="introduction_text">
          My primary responsibilities were to work with college leadership to ensure campus activites and functions ran as smoothly as possible. This includes working directly with students to solve administrative problems, ensure faculty complied with contractual obligations, and coordinate with all departments within the college to prepare and run events.
          </p>
          <hr>
        </div>

        <a href="#portrait">Return to the top.</a>
      </div>
    </div>

    <div id="form">
      <div id="form_container">
        <h4 class="title">Let's get in touch!</h4>

      {% block content %}
      
        <form method='POST' action="{{ url_for('process_form') }}">
          {{ form.name.label(id='form_name_label') }} <br />
          {{ form.name(id='form_name') }}<br />

          {{ form.email.label(id='email_form_label') }}<br />
          {{ form.email(id='form_email') }}<br />

          {{ form.body.label(id='form_message_label') }}<br />
          {{ form.body(cols="40", rows="5", id='form_message') }}<br />

          {{ form.submit(id='submit_button') }}
        </form>

        {% endblock %}

      </div>
    </div>
  </div>



  </div>

  <!-- Modal Template -->
  <div id="modal_template">
    <div id="modal_content">
      <div id="modal_top">
        <h3 id="modal_header"></h3>
        <span id="modal_close">&times;</span>
      </div>
      <p id="modal_body"></p>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/modals.js') }}"></script>
  
</body>
</html>