<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Brian Breeden</title>
  <meta name="description" content="Brian Breeden Portfolio">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
  <div id="portrait"></div>


  <div id="container_main">
    <div id="greeting_container">
      <h1>Hi, I'm Brian.</h1>
    </div>
  </div>
  
</body>
</html>