<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Brian Breeden</title>
  <meta name="description" content="Brian Breeden Portfolio">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
  <div id="portrait"></div>

  <div id="container_main">

    <div id="greeting_container">
      <h1 id="greeting">Hi, I'm Brian</h1>
    </div>

    <div id="titles">
      <span class="title">Designer</span> <span class="divider">|</span> <span class="title">Analyst</span> <span class="divider">|</span>|<span class="title">Engineer</span>
    </div>

    <div id="introduction_container">
      <p class="introduction_text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed orci convallis, malesuada arcu id, sollicitudin ex. Quisque convallis est id ex efficitur cursus. Nulla ut justo dapibus, ultricies nisl sed, congue tellus. Suspendisse condimentum enim mauris, id pellentesque magna efficitur a. Sed congue tellus nec elementum sagittis. Aliquam sit amet massa urna. Vestibulum risus velit, tincidunt sit amet purus sed, suscipit pulvinar odio. Nullam convallis eros sit amet consequat pretium.
      </p>
      <p class="introduction_text">
        Cras sed mattis erat. Donec maximus mauris eu est dignissim, a condimentum mauris cursus. Donec elementum elementum nisl. Nunc sed molestie turpis. Donec lobortis, lectus eget tempor dapibus, ex magna pulvinar nisi, id lacinia arcu nunc a nibh. Fusce lectus libero, consequat vel metus nec, convallis tempus quam. Mauris mauris purus, condimentum non ex quis, laoreet suscipit magna. Phasellus sagittis consectetur ex sit amet elementum. Nullam dapibus fermentum est, ut varius ipsum viverra nec. In hac habitasse platea dictumst. Maecenas id tellus mauris. In egestas non mi vel tristique.
      </p>
      <p class="introduction_text">
        In enim nulla, semper ac velit eget, ullamcorper sollicitudin mauris. Maecenas ut finibus magna. Phasellus porttitor in ante non blandit. Maecenas eleifend, est quis ullamcorper pulvinar, felis sem blandit dolor, sit amet consequat felis sem eget dui. Pellentesque mauris ex, scelerisque finibus convallis vitae, imperdiet quis erat. Etiam commodo varius elit. Nunc sed varius est, ut varius elit.
      </p>
    </div>

    <div id="icons_container">
      <div class="icon">
        <img src="{{url_for('static', filename='img/lego.png')}}">
      </div>
      <div class="icon">
        <img src="{{url_for('static', filename='img/tools.png')}}">
      </div>
      <div class="icon">
        <img src="{{url_for('static', filename='img/tie.png')}}">
      </div>
    </div>

  </div>

  
  
</body>
</html>